In [1]:
import pandas as pd

# **Qus. 1**

# Read the CSV file into a pandas DataFrame
df = pd.read_csv("Employee_list.csv", index_col="Sno.")

# Create a dictionary to map professions to numeric codes
profession_map = {"Engineer": 0, "Doctor": 1, "Teacher": 2}

# Use the map() function to replace professions with codes
df["Profession"] = df["Profession"].map(profession_map)

# Add the profession to the employee's name
df["Name"] = df["Name"] + " (" + df["Profession"].astype(str) + ")"

print("**Answer 1:**\n", df)

**Answer 1:**
                 Name  Age  Profession   Salary  Empid
Sno.
1     Rahul [dr] (0)   38           0  86567.0     15
2          Vipul (1)   29           1  77298.0      9
3         Saurav (1)   33           1  81302.0     11
4          Niyaz (2)   39           2  30456.0      6
5       Franklin (0)   28           0      NaN     21
6         Niroja (0)   34           0  79000.0     12
7        Meetesh (0)   29           0      NaN     23
8       Shashank (2)   28           2  45000.0     31
9        Chauhan (1)   41           1  73249.0     44

In [2]:

# Calculate the increment for eligible employees
df["Increment"] = df["Salary"].apply(
    lambda salary: ((salary - 45000) * 100) / 45000
    if salary > 45000
    else 0
)

# Filter the DataFrame to select employees with salaries greater than 45000
selected_employees = df[df["Salary"] > 45000][
    ["Name", "Profession", "Salary", "Empid", "Increment"]
]

print("\n**Answer 2:**\n", selected_employees)

**Answer 2:**
                 Name  Profession   Salary  Empid  Increment
Sno.
1     Rahul [dr] (0)           0  86567.0     15  92.371111
2          Vipul (1)           1  77298.0      9  71.773333
3         Saurav (1)           1  81302.0     11  80.671111
6         Niroja (0)           0  79000.0     12  75.555556
9        Chauhan (1)           1  73249.0     44  62.775556